[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epidm"]
	path = epidm
	url = https://github.com/ukhsa-collaboration/epidm
[submodule "epiviz"]
	path = epiviz
	url = https://github.com/ukhsa-collaboration/epiviz
