[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PHEindicatormethods"]
	path = PHEindicatormethods
	url = https://github.com/ukhsa-collaboration/pheindicatormethods
